<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Cadastro de Cervejas</title>
	</head>
	
	<body>
	
		<div th:each="erro : ${#fields.detailedErrors('${cerveja.*}')}">
				<span th:text="${erro.message}"></span>
		</div>
			
		<form method="post" th:object="${cerveja}">			
			<span th:text="${mensagem}"></span>
			<br/>
		
			<label for="sku">SKU</label>
			<input id="sku" type="text" th:field="*{sku}">
			<br/>

			<label for="nome">Nome</label>
			<input id="nome" type="text" th:field="*{nome}">
			<br/>

			<label for="descricao">Descrição</label>
			<textarea rows="3" cols="30" id="descricao" th:field="*{descricao}"></textarea>
			<br/>
			
			<input type="submit" value="Salvar">			
		</form>
	</body>
</html>